<h1>Flight #<%= @flight.id %></h1>

<p>
  <b>Departs at:</b>
  <%= @flight.departs_at %>
</p>

<p>
  <b>Departure code:</b>
  <%= @flight.departure_code %>
</p>

<p>
  <b>Arrival code:</b>
  <%= @flight.arrival_code %>
</p>

<p>
  <b>Seats:</b>
  <%= @flight.seats %>
</p>


