<h1 class="page-header">User Stories & Business Rules</h1>

<p>You can skip the challenges if you want, but the user stories should be built in order.</p>

<ol>
  <%= challenge 'Display a nicer date/time in the "Departs At" column' %>
  <%= challenge 'Explain every line in seeds.rb.' %>
  <%= challenge 'Figure out how the nav links are built with the icons next to them.' %>
  <%= user_story :visitor, 'I want to page through all available flights.' %>
  <%= user_story :visitor, 'I want to search by departure airport and date.' %>
  <%= user_story :visitor, 'I want to create a user account so I can sign in.' %>
  <%= user_story :user, 'I want to sign in so I can make reservations and earn miles.' %>
  <%= user_story :user, 'I want to see my reservations on my profile page.' %>
  <%= user_story :user, 'I want to see my frequent flier miles on my profile page.' %>
  <%= business_rule "A user's profile page should list all reservations and miles earned." %>
  <%= user_story :user, 'I want to earn miles as soon as I book a flight.' %>
  <%= business_rule 'A user can only book flights if there are seats left on the flight.' %>
  <%= business_rule 'The available seat count must decrease by 1 every time someone books a seat on that flight.' %>
  <%= user_story :user, 'I want to book a flight.' %>
  <%= business_rule 'A user must pay with a Visa credit card when they book a flight' %>
  <%= business_rule 'Visa cards always start 16 digits long and begin with a 4.' %>
  <%= challenge 'Understand the code for this Help page.' %>
  <%= challenge 'Explain the code in pages_helper.rb' %>
  <%= challenge 'DRY up the code in pages_helper.rb' %>
  <%= user_story :user, 'I want to cancel a flight.' %>
  <%= business_rule "Flights can only be canceled if the plane hasn't departed yet." %>
  <%= business_rule "Refunds are given for cancellations made at least 24 hours in advance." %>
  <%= business_rule "Canceled flights should reduce any earned miles by the appopopriate amount." %>
  <%= user_story :admin, 'I want to see a dashboard showing sales for today, month-to-date, and year-to-date' %>
  <%= user_story :admin, 'I want the dashboard to display the most popular destination and least popular destination' %>
  <%= user_story :admin, 'I want the dashboard to display the name and number of miles for the passenger who has earned the most miles.' %>
</ol>

