<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OneWayAir</title>

  <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/united/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag 'http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.css' %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">OneWayAir</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">

          <li>
            <%= link_to flights_url do %>
              &#9992; Flights
            <% end %>
          </li>
          <li>
            <%= link_to cities_url do %>
              <i class="icon-building"></i>
              Cities
            <% end %>
          </li>
          <li>
            <%= link_to help_url do %>
              <i class="icon-question-sign"></i>
              Help
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">

    <% if flash[:notice].present? %>
    <div class="alert alert-dismissable alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= notice %>
    </div>
    <% end %>

    <%= yield %>

  </div>

</body>
</html>
